<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
  <div class="panel panel-info thumbnail">
    <div class="panel-heading">
      <%= button_to(admin_survey_path(survey), method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right  btn-link") do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <%- end %>
      <%= survey.user_name %>
    </div>
    <div class="panel-body">
      <canvas id="chart-<%= j survey.short_code %>"></canvas>
    </div>
  </div>
</div>

<%- content_for(:javascript) do %>
  <script>
var data = {
  labels: <%= raw JSON.generate(Survey::QUESTIONS.values.map { |v| v[/[a-zA-Z]/ =~ v] }) %>,
  datasets: [{
    backgroundColor: "rgba(179,181,198,0.2)",
    borderColor: "rgba(179,181,198,1)",
    pointBackgroundColor: "rgba(179,181,198,1)",
    pointBorderColor: "#fff",
    pointHoverBackgroundColor: "#fff",
    pointHoverBorderColor: "rgba(179,181,198,1)",
    data: <%= raw JSON.generate(survey.chart_data) %>
}]
}

var options = {
  labels: {
    display: false,
  },
  legend: {
    display: false,
  },
  scale: {
    pointLabels: {
      fontSize: 8
    },
    ticks: {
      display: false,
      max: 5,
      min: 0
    }
  }
}

new Chart("chart-<%= j survey.short_code %>", {
  type: "radar",
  data: data,
  options: options
})
  </script>
<%- end %>
