  <div class="row">
    <div class="panel panel-success thumbnail">
      <div class="panel-heading">
        <h3>
          <%= @survey_type.active.count %> surveys submitted
        </h3>
      </div>

      <%# <div class="panel-body"> %>
      <%#   <table id='statistics' class="table table-condensed"> %>
      <%#     <th></th><th>median</th><th>avg</th><th>var</th> %>
      <%#     <%- Questions::Baseline.questions.each_pair do |key, value| %1> %>
      <%#       <tr> %>
      <%#         <td class="text-right row-title"><%= value %1></td> %>
      <%#         <td><%= @survey_type.median(key.to_s) %1></td> %>
      <%#         <td><%= @survey_type.avg(key.to_s).round(1) %1></td> %>
      <%#         <td><%= @survey_type.var(key.to_s).round(1) %1></td> %>
      <%#       </tr> %>
      <%#     <%- end %>
      <%#   </table> %>
      <%# </div> %>
    </div>
    <div class="row text-center">
        <%= link_to 'All', admin_surveys_path, class: 'btn btn-info'%>
        <%- (Survey.types - [Null]).each do |survey| %>
          <%= link_to survey.title, admin_surveys_path(type: survey.name), class: 'btn btn-info'%>
        <%- end %>
    </div>
    <div class="row">
      <%= paginate @surveys, remote: true %>
    </div>
    <div class="row">
      <%= render @surveys %>
    </div>
    <div class="row">
      <%= paginate @surveys, remote: true %>
    </div>
  </div>
